service: default

runtime: go115
instance_class: F1

handlers:
- url: /.*
  script: auto
  secure: always

env_variables:
  # Required for Google Cloud APIs
  PROJECT_ID: '<PROJECT_ID>'
  LOCATION_ID: '<LOCATION_ID>'
  SERVICE_NAME: 'default'
  